---
layout: default
---

<article class="posts">
  
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
  {% include gitalk.html %}
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}
</div>

{ % if page.mermaid % }

<script>
function initMermaid() {
  var config = {
    startOnLoad: true,
    securityLevel: 'loose',
    theme: 'base',
    themeVariables: {
      primaryColor: '#F0F4FC',
      primaryTextColor: '#1F2329',
      primaryBorderColor: '#000000',
      lineColor: '#888888',
      tertiaryColor: '#F5F6F7',
      tertiaryBorderColor: '#F5F6F7',
      tertiaryTextColor: '#00A4FF'
    },
    flowchart:{
      useMaxWidth: true,
      htmlLabels: true
    }
  };
  mermaid.initialize(config);
  window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
}
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/mermaid/11.7.0/mermaid.min.js"
  async
  onload="initMermaid()">
</script>

{ % endif % }